<!-- Topbar Start -->
<header class="app-header flex items-center px-5 gap-4">

    <!-- Brand Logo -->
    <a routerLink="" class="logo-box">
        <img src="assets/img/logo-dark.png" class="h-20 mb-1" alt="Limpid Systems">
    </a>

    <!-- Sidenav Menu Toggle Button -->
    <button (click)="toggleSideNavBar()" id="button-toggle-menu" class="nav-link p-2 waves-effect me-auto">
        <span class="sr-only">Menu Toggle Button</span>
        <span class="flex items-center justify-center h-6 w-6">
            <i class="fa-solid fa-bars fa-xl"></i>
        </span>
    </button>
    
   
    <!-- Notification Toggle Button -->
           <div class="md:flex group cursor-pointer relative">
            <button (click)="onToggleNotification()" id="Notification-toggle" type="button"
            class="nav-link p-2 waves-effect">
            <div class="bg-danger h-3 w-3 rounded-full absolute animate-ping opacity-75" style="top: 6.5px;right: 10.8px;"></div>
            <div class="bg-danger h-2.5 w-2.5 rounded-full absolute right-3 top-2 opacity"></div>
            <span class="flex items-center justify-center h-6 w-6">
                <i class="fa-regular fa-bell fa-lg"></i>
            </span>
        </button>
              <div
                 class="bg-dark dark:bg-dark-2 absolute top-full left-1/2 z-20 mt-3 -translate-x-1/2 whitespace-nowrap rounded-[5px] py-1.5 px-3.5 text-sm text-white opacity-0 group-hover:opacity-100"
                 >
                 <span
                    class="bg-dark dark:bg-dark-2 absolute top-[-3px] left-1/2 -z-10 h-2 w-2 -translate-x-1/2 rotate-45"
                    ></span>
                 Notification
              </div>
           </div>


    <!-- Fullscreen Toggle Button -->
    <div class="md:flex hidden">
        <div class="md:flex group cursor-pointer relative">
        <button (click)="toggleFullScreen()" data-toggle="fullscreen" type="button" class="nav-link p-2 waves-effect">
            <span class="sr-only">Fullscreen Mode</span>
            <span class="flex items-center justify-center h-6 w-6">
                <i id="fullScreenToggleBtnIcon" class="fa-solid fa-expand fa-lg"></i>
            </span>
        </button>
              <div
                 class="bg-dark dark:bg-dark-2 absolute top-full left-1/2 z-20 mt-3 -translate-x-1/2 whitespace-nowrap rounded-[5px] py-1.5 px-3.5 text-sm text-white opacity-0 group-hover:opacity-100"
                 >
                 <span
                    class="bg-dark dark:bg-dark-2 absolute top-[-3px] left-1/2 -z-10 h-2 w-2 -translate-x-1/2 rotate-45"
                    ></span>
                 Full Screen
              </div>
           </div>
    </div>


    <!-- Profile Dropdown Button -->
    <div class="md:flex group cursor-pointer relative">
        <app-floating-dropdown [floatingDropdownId]="ProfileDropdownId">
            <button floating-dropdown-title (click)="openFloatingDropdown($event, ProfileDropdownId)"
                class="floating-dropdown-btn nav-link flex items-center gap-2.5 waves-effect p-2">
                <img *ngIf="this.user.image; else charactorImage" [src]="API.ORIGIN + user.image" alt="this.user?.name"
                    class="floating-dropdown-btn rounded-full h-8 w-8">
                <ng-template #charactorImage>
                    <div class="floating-dropdown-btn rounded-full h-8 w-8 flex justify-center items-center"
                        style="background: #666887;">
                        <p class="floating-dropdown-btn text-white text-lg font-semibold">
                            {{this.user.name![0].toUpperCase()}}</p>
                    </div>
                </ng-template>
                <span class="floating-dropdown-btn md:flex items-center hidden">
                    <span class="floating-dropdown-btn font-medium text-base">{{this.user.name}}</span>
                    <i class='floating-dropdown-btn ph ph-chevron-down'></i>
                </span>
            </button>

            <div floating-dropdown-menu
            class="absolute w-36 top-15 z-50 transition-[margin,opacity] duration-900 mt-2 bg-white shadow-lg rounded-lg p-2 mr-5"
            style="right: -1.2rem;">
                <a class="flex items-center py-2 px-3 rounded-md text-sm text-gray-800 hover:bg-gray-100 hover:bg-themeblue-200">
                    Inbox
                </a>
                <a class="flex items-center py-2 px-3 rounded-md text-sm text-gray-800 hover:bg-gray-100 hover:bg-themeblue-200"
                    routerLink="/profile" routerLinkActive="bg-themeblue-200 text-themeblue-400" [routerLinkActiveOptions]="{ exact : true }">
                    Profile
                </a>
                <a class="flex items-center py-2 px-3 rounded-md text-sm text-gray-800 hover:bg-gray-100 hover:bg-themeblue-200">
                    Settings
                </a>
                <a class="flex items-center py-2 px-3 rounded-md text-sm text-gray-800 hover:bg-gray-100 hover:bg-themeblue-200">
                    Lock Account
                </a>
                <a (click)="logout($event)"
                    class="flex items-center py-2 px-3 rounded-md text-sm text-gray-800 hover:bg-gray-100 hover:bg-themeblue-200">
                    Log Out
                </a>
            </div>
        </app-floating-dropdown>
    </div>

</header>