     <!-- Footer Start -->
     <footer class="footer h-16 flex items-center px-6 bg-white border-t border-gray-200 mt-auto absolute bottom-0 w-full">
        <div class="flex md:justify-between justify-center w-full gap-4">
            <div>
                <p class="text-sm font-medium"><script>document.write(new Date().getFullYear())</script> © Limpid Systems</p>
            </div>
            <div class="md:flex hidden gap-2 item-center md:justify-end">
                <p class="text-sm font-medium">Design &amp; Developed by <a href="#" class="text-primary">Limpid Systems</a></p>
            </div>
        </div>
    </footer>
    <!-- Footer End -->