<div class="container p-6">
    <!-- Profile Component -->
    <div class="container">
        <div class="bg-white p-6 border border-gray-200 card">
            <div class="flex justify-between items-center mb-4">
                <h1 class="text-xl font-bold text-black">Profile</h1>
                <a href="#_" class="relative rounded px-5 py-2.5 overflow-hidden group bg-green-500 relative hover:bg-gradient-to-r hover:from-green-500 hover:to-green-400 text-white hover:ring-2 hover:ring-offset-2 hover:ring-green-400 transition-all ease-out duration-300">
                <span class="absolute right-0 w-8 h-32 -mt-12 transition-all duration-1000 transform translate-x-12 bg-white opacity-10 rotate-12 group-hover:-translate-x-40 ease"></span>
                <span class="relative text-xl">Edit</span>
                </a>
            </div>
            <div class="flex items-center mb-4">
                <!-- <div class="w-16 h-16 bg-gray-300 rounded-full mr-4">
                    <img>
                </div> -->
                <img class="w-16 h-16 rounded-full mr-4 mb-4 mt-4" src='assets/images/profileImages/1.jpeg' alt="Rounded avatar">
                <div>
                    <p class="font-bold text-black text-xl">Darshil Savaliya</p>
                    <p class="text-black">darshil@example.com</p>
                </div>
            </div> 
            <div class="grid grid-cols-2 gap-4">
                <div>
                    <p class="text-gray-700 font-semibold">Full Name</p>
                    <p class="text-gray-800">Darshil Savaliya</p>
                </div>
                <div>
                    <p class="text-gray-600 font-semibold">Display Name</p>
                    <p class="text-gray-800">Darshil Savaliya</p>
                </div>
                <div>
                    <p class="text-gray-600 font-semibold">Gender</p>
                    <p class="text-gray-800">I'd prefer not to say</p>
                </div>
                <div class="flex items-center">
                    <img src='assets/images/profileImages/india-flag-icon.svg' alt="India Flag" class="w-6 h-4 mr-2">
                    <p class="text-gray-800">India</p>
                </div>
                <div>
                    <p class="text-gray-600 font-semibold">State</p>
                    <p class="text-gray-800">Gujarat</p>
                </div>
                <div>
                    <p class="text-gray-600 font-semibold">Language</p>
                    <p class="text-gray-800">English - United States</p>
                </div>
                <div class="col-span-2">
                    <p class="text-gray-600 font-semibold">Time zone</p>
                    <p class="text-gray-800">(GMT +05:30) India Standard Time (Asia/Kolkata)</p>
                </div>
            </div> 
        </div>
    </div>
</div>