<div class="container pl-6 pr-6 pt-6">
    <div class="container">
        <div class="bg-white p-6 border border-gray-200 card">
            <div class="flex justify-between items-center mb-4">
                <h1 class="text-xl font-bold text-black">Profile</h1>
                <a class="relative rounded-lg px-5 py-2 overflow-hidden group bg-themeblue-900 relative hover:bg-gradient-to-r hover:from-bg-themeblue-900 hover:to-bg-themeblue-800 text-white hover:ring-2  hover:bg-themeblue-900 transition-all ease-out duration-300">
                <span class="absolute right-0 w-8 h-32 -mt-12 transition-all duration-1000 transform translate-x-12 bg-white opacity-10 rotate-12 group-hover:-translate-x-40 ease"></span>
                <span class="relative"><i class="fa-solid fa-pen-to-square"></i></span>
                </a>
            </div>
            <div class="flex items-center mb-4">
                <img class="w-16 h-16 rounded-full mr-4 mb-4 mt-4" src='assets/images/profileImages/1.jpeg' alt="Rounded avatar">
                <div>
                    <p class="font-bold text-black text-xl">Darshil Savaliya</p>
                    <p class="text-black">darshil@example.com</p>
                </div>
            </div> 
            <div class="grid grid-cols-2 gap-4">
                <div>
                    <p class="text-gray-700 font-semibold">Full Name</p>
                    <p class="text-gray-800">Darshil Savaliya</p>
                </div>
                <div>
                    <p class="text-gray-600 font-semibold">Gender</p>
                    <p class="text-gray-800">I'd prefer not to say</p>
                </div>
            </div> 
        </div>
    </div>
</div>