<div class="bg-white flex flex-col items-center justify-center h-screen">
    <div class="text-center p-6">
        <div class=" rounded-full px-8 py-11 inline-block mb-6" style="background: #11153e3c;">
            <i class="fa-solid fa-2xl fa-triangle-exclamation" style="color: #11153e; font-size: 50px;"></i>
        </div>
        <h1 class="text-5xl font-bold mb-2 mt-4 primary-text-color">File not found (404 error)</h1>
        <p class="text-2xl mb-8">If you think what you're looking for should be here, please contact the site owner.</p>
        <a class="text-2xl mt-2 underline" routerLink="">Go Home</a>
    </div>
</div>