<div class="bg-white flex flex-col items-center justify-center h-screen">
    <div class="text-center p-6 flex justify-center items-center flex-col">
        <div class=" rounded-full h-20 w-20 flex justify-center items-center mb-6" style="background: #11153e3c;">
            <i class="ph-warning text-3xl" style="color: #11153e; font-size: 50px;"></i>
        </div>
        <h1 class="text-5xl font-bold mb-2 mt-4 primary-text-color">File not found (404 error)</h1>
        <p class="text-2xl mb-8">If you think what you're looking for should be here, please contact the site owner.</p>
        <a class="text-2xl mt-2 underline" routerLink="">Go Home</a>
    </div>
</div>