<div class="bg-white flex flex-col items-center justify-center h-screen">
    <div class="text-center p-6">
        <div class="bg-orange-200 text-orange-600 rounded-full p-4 inline-block mb-4">
            <!-- Replace with your warning icon -->
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" class="w-16 h-16">
                <path stroke-linecap="round" stroke-linejoin="round" d="M8.25 4.2l7.5 13.5m-7.5 0h7.5m-7.5 0h7.5m0-13.5L4.2 17.7m19.6 0L12 4.2" />
            </svg>
        </div>
        <h1 class="text-5xl font-bold mb-2">File not found (404 error)</h1>
        <p class="text-2xl mb-8">If you think what you're looking for should be here, please contact the site owner.</p>
        <a class="text-2xl mt-2 underline" routerLink="">Go Home</a>
    </div>
</div>