<!-- Sidenav Menu Start -->
<div id="side-nav-bar" class="app-menu">

    <!-- Brand Logo -->
    <a routerLink=""  class="logo-box">
        <img src='assets/img/logo.png' class="logo-dark h-10 mt-2" alt="Limpid Systems">
    </a>

    <!--- Menu -->
    <ngx-simplebar [options]="options">
        <ul class="menu" data-fc-type="accordion">
            <li class="menu-title">Menu</li>

            <li class="menu-item">
                <a routerLink="" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}" class="menu-link waves-effect">
                    <span class="menu-icon"><i class="fa-solid fa-house fa-xs"></i></span>
                    <p class="menu-text"> Dashboard </p>
                    <span class="badge bg-primary rounded ms-auto">01</span>
                </a>
            </li>

            <li *ngIf="user.role.roleName == UserRoles.ORGANIZATION || user.role.roleName == UserRoles.DATA_ENTRY_OPRATOR " class="menu-item">
                <a routerLink="/leads" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}" class="menu-link waves-effect">
                    <span class="menu-icon"><i class="fa-solid fa-user fa-xs"></i></span>
                    <p class="menu-text"> Leads </p>
                </a>
            </li>

            <li class="menu-item">
                <a routerLink="/organizations" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}" class="menu-link waves-effect">
                    <span class="menu-icon"><i class="fa-solid fa-building fa-xs"></i></span>
                    <p class="menu-text"> Organizations </p>
                </a>
            </li>
            
            
            <li class="menu-item">
                <a routerLink="/employees" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}" class="menu-link waves-effect">
                    <span class="menu-icon"><i class="fa-solid fa-user fa-xs"></i></span>
                    <p class="menu-text"> Employees </p>
                </a>
            </li>

            <li class="menu-title">Custom</li>

            <li class="menu-item">
                <a href="javascript:void(0)"  (click)="openCollapseMenu($event)" [ngClass]="{'active': isActive}" data-fc-type="collapse" class="menu-link waves-effect collapsible-menu">

                    <span class="menu-icon"><i class="ph-duotone ph-file"></i></span>
                    <p class="menu-text"> Extra Pages </p>
                    <i class="fa-solid fa-chevron-right fa-xs ms-auto mr-2" style="font-size: 10px;"></i>
                </a>

                <ul class="sub-menu collaped-link collaped-link">
                    <li class="menu-item">
                        <a href="pages-starter.html" class="menu-link">
                            <span class="menu-dot"></span>
                            <p class="menu-text">Starter</p>
                        </a>
                    </li>
                    <li class="menu-item">
                        <a href="pages-invoice.html" class="menu-link">
                            <span class="menu-dot"></span>
                            <p class="menu-text">Invoice</p>
                        </a>
                    </li>
                    <li class="menu-item">
                        <a href="pages-maintenance.html" class="menu-link">
                            <span class="menu-dot"></span>
                            <p class="menu-text">Maintenance</p>
                        </a>
                    </li>
                </ul>
            </li>

            <li class="menu-item">
                <a href="javascript:void(0)" (click)="openCollapseMenu($event)" [ngClass]="{'active': isActive}" data-fc-type="collapse" class="menu-link waves-effect collapsible-menu">
                    <span class="menu-icon"><i class="ph-duotone ph-sign-in"></i></span>
                    <p class="menu-text"> Auth Pages </p>
                    <i class="fa-solid fa-chevron-right fa-xs ms-auto mr-2" style="font-size: 10px;"></i>
                </a>

                <ul class="sub-menu collaped-link">
                    <li class="menu-item">
                        <a href="auth-login.html" class="menu-link">
                            <span class="menu-dot"></span>
                            <p class="menu-text">Log In</p>
                        </a>
                    </li>
                    <li class="menu-item">
                        <a href="auth-register.html" class="menu-link">
                            <span class="menu-dot"></span>
                            <p class="menu-text">Register</p>
                        </a>
                    </li>
                    <li class="menu-item">
                        <a href="auth-recoverpw.html" class="menu-link">
                            <span class="menu-dot"></span>
                            <p class="menu-text">Recover Password</p>
                        </a>
                    </li>
                    <li class="menu-item">
                        <a href="auth-lock-screen.html" class="menu-link">
                            <span class="menu-dot"></span>
                            <p class="menu-text">Lock Screen</p>
                        </a>
                    </li>
                </ul>
            </li>

            <li class="menu-item">
                <a href="javascript:void(0)" (click)="openCollapseMenu($event)" [ngClass]="{'active': isActive}" data-fc-type="collapse" class="menu-link waves-effect collapsible-menu">
                    <span class="menu-icon"><i class="ph-duotone ph-bug"></i></span>
                    <p class="menu-text"> Error Pages </p>
                  <i class="fa-solid fa-chevron-right fa-xs ms-auto mr-2" style="font-size: 10px;"></i>
                </a>

                <ul class="sub-menu collaped-link">
                    <li class="menu-item">
                        <a href="pages-404.html" class="menu-link">
                            <span class="menu-dot"></span>
                            <p class="menu-text">Error 404</p>
                        </a>
                    </li>
                    <li class="menu-item">
                        <a href="pages-500.html" class="menu-link">
                            <span class="menu-dot"></span>
                            <p class="menu-text">Error 500</p>
                        </a>
                    </li>
                </ul>
            </li>

            <li class="menu-item">
                <a href="javascript:void(0)" (click)="openCollapseMenu($event)" [ngClass]="{'active': isActive}" data-fc-type="collapse" class="menu-link waves-effect collapsible-menu">
                    <span class="menu-icon"><i class="ph-duotone ph-layout"></i></span>
                    <p class="menu-text"> Layout </p>
                  <i class="fa-solid fa-chevron-right fa-xs ms-auto mr-2" style="font-size: 10px;"></i>
                </a>

                <ul class="sub-menu collaped-link">
                    <li class="menu-item">
                        <a href="layout-light-sidebar.html" class="menu-link">
                            <span class="menu-dot"></span>
                            <p class="menu-text">Light Sidebar</p>
                        </a>
                    </li>
                    <li class="menu-item">
                        <a href="layout-dark-topbar.html" class="menu-link">
                            <span class="menu-dot"></span>
                            <p class="menu-text">Dark Topbar</p>
                        </a>
                    </li>
                </ul>
            </li>

            <li class="menu-title">Elements</li>

            <li class="menu-item">
                <a href="javascript:void(0)" (click)="openCollapseMenu($event)" [ngClass]="{'active': isActive}" data-fc-type="collapse" class="menu-link waves-effect collapsible-menu">
                    <span class="menu-icon"><i class="ph-duotone ph-cookie"></i></span>
                    <p class="menu-text"> Components </p>
                  <i class="fa-solid fa-chevron-right fa-xs ms-auto mr-2" style="font-size: 10px;"></i>
                </a>

                <ul class="sub-menu collaped-link">
                    <li class="menu-item">
                        <a href="ui-alerts.html" class="menu-link">
                            <span class="menu-dot"></span>
                            <p class="menu-text">Alerts</p>
                        </a>
                    </li>
                    <li class="menu-item">
                        <a href="ui-buttons.html" class="menu-link">
                            <span class="menu-dot"></span>
                            <p class="menu-text">Buttons</p>
                        </a>
                    </li>
                    <li class="menu-item">
                        <a href="ui-collapse.html" class="menu-link">
                            <span class="menu-dot"></span>
                            <p class="menu-text">Collapse</p>
                        </a>
                    </li>
                    <li class="menu-item">
                        <a href="ui-dropdowns.html" class="menu-link">
                            <span class="menu-dot"></span>
                            <p class="menu-text">Dropdowns</p>
                        </a>
                    </li>
                    <li class="menu-item">
                        <a href="ui-progress.html" class="menu-link">
                            <span class="menu-dot"></span>
                            <p class="menu-text">Progress</p>
                        </a>
                    </li>
                    <li class="menu-item">
                        <a href="ui-skeleton.html" class="menu-link">
                            <span class="menu-dot"></span>
                            <p class="menu-text">Skeleton</p>
                        </a>
                    </li>
                    <li class="menu-item">
                        <a href="ui-spinners.html" class="menu-link">
                            <span class="menu-dot"></span>
                            <p class="menu-text">Spinners</p>
                        </a>
                    </li>
                    <li class="menu-item">
                        <a href="ui-ratio.html" class="menu-link">
                            <span class="menu-dot"></span>
                            <p class="menu-text">Ratio</p>
                        </a>
                    </li>
                    <li class="menu-item">
                        <a href="ui-tabs.html" class="menu-link">
                            <span class="menu-dot"></span>
                            <p class="menu-text">Tab</p>
                        </a>
                    </li>
                    <li class="menu-item">
                        <a href="ui-modals.html" class="menu-link">
                            <span class="menu-dot"></span>
                            <p class="menu-text">Modals</p>
                        </a>
                    </li>
                    <li class="menu-item">
                        <a href="ui-offcanvas.html" class="menu-link">
                            <span class="menu-dot"></span>
                            <p class="menu-text">Offcanvas</p>
                        </a>
                    </li>
                    <li class="menu-item">
                        <a href="ui-popovers.html" class="menu-link">
                            <span class="menu-dot"></span>
                            <p class="menu-text">Popovers</p>
                        </a>
                    </li>
                    <li class="menu-item">
                        <a href="ui-tooltips.html" class="menu-link">
                            <span class="menu-dot"></span>
                            <p class="menu-text">Tooltips</p>
                        </a>
                    </li>

                    <li class="menu-item">
                        <a href="ui-swiper.html" class="menu-link">
                            <span class="menu-dot"></span>
                            <p class="menu-text">Swiper</p>
                        </a>
                    </li>
                    <li class="menu-item">
                        <a href="ui-ratings.html" class="menu-link">
                            <span class="menu-dot"></span>
                            <p class="menu-text">Ratings</p>
                        </a>
                    </li>
                </ul>
            </li>

            <li class="menu-item">
                <a href="javascript:void(0)" (click)="openCollapseMenu($event)" [ngClass]="{'active': isActive}" data-fc-type="collapse" class="menu-link waves-effect collapsible-menu">
                    <span class="menu-icon"><i class="ph-duotone ph-pen-nib"></i></span>
                    <p class="menu-text"> Forms </p>
                  <i class="fa-solid fa-chevron-right fa-xs ms-auto mr-2" style="font-size: 10px;"></i>
                </a>

                <ul class="sub-menu collaped-link">
                    <li class="menu-item">
                        <a href="forms-elements.html" class="menu-link">
                            <span class="menu-dot"></span>
                            <p class="menu-text">Form Elements</p>
                        </a>
                    </li>
                    <li class="menu-item">
                        <a href="forms-masks.html" class="menu-link">
                            <span class="menu-dot"></span>
                            <p class="menu-text">Masks</p>
                        </a>
                    </li>
                    <li class="menu-item">
                        <a href="forms-editor.html" class="menu-link">
                            <span class="menu-dot"></span>
                            <p class="menu-text">Editor</p>
                        </a>
                    </li>
                    <li class="menu-item">
                        <a href="forms-validation.html" class="menu-link">
                            <span class="menu-dot"></span>
                            <p class="menu-text">Validation</p>
                        </a>
                    </li>
                    <li class="menu-item">
                        <a href="forms-layout.html" class="menu-link">
                            <span class="menu-dot"></span>
                            <p class="menu-text">Form Layout</p>
                        </a>
                    </li>
                </ul>
            </li>

            <li class="menu-item">
                <a href="javascript:void(0)" (click)="openCollapseMenu($event)"  [ngClass]="{'active': isActive}" data-fc-type="collapse" class="menu-link waves-effect collapsible-menu">
                    <span class="menu-icon"><i class="ph-duotone ph-map-pin"></i></span>
                    <p class="menu-text"> Maps </p>
                  <i class="fa-solid fa-chevron-right fa-xs ms-auto mr-2" style="font-size: 10px;"></i>
                </a>

                <ul class="sub-menu collaped-link">
                    <li class="menu-item">
                        <a href="maps-vector.html" class="menu-link">
                            <span class="menu-dot"></span>
                            <p class="menu-text">Vector Maps</p>
                        </a>
                    </li>
                    <li class="menu-item">
                        <a href="maps-google.html" class="menu-link">
                            <span class="menu-dot"></span>
                            <p class="menu-text">Google Maps</p>
                        </a>
                    </li>
                </ul>
            </li>

            <li class="menu-item">
                <a href="tables-basic.html" class="menu-link waves-effect">
                    <span class="menu-icon"><i class="ph-duotone ph-table"></i></span>
                    <p class="menu-text"> Tables </p>
                </a>
            </li>

            <li class="menu-item">
                <a href="charts-apex.html" class="menu-link">
                    <span class="menu-icon"><i class="ph-duotone ph-chart-bar"></i></span>
                    <p class="menu-text"> Chart </p>
                </a>
            </li>

            <li class="menu-item">
                <a href="javascript:void(0)" data-fc-type="collapse" class="menu-link">
                    <span class="menu-icon">
                        <i class="ph-duotone ph-share-fat"></i>
                    </span>
                    <p class="menu-text"> Level </p>
                  <i class="fa-solid fa-chevron-right fa-xs ms-auto mr-2" style="font-size: 10px;"></i>
                </a>

                <ul class="sub-menu collaped-link">
                    <li class="menu-item">
                        <a href="javascript: void(0)" class="menu-link">
                            <span class="menu-dot"></span>
                            <p class="menu-text">Item 1</p>
                        </a>
                    </li>
                    <li class="menu-item">
                        <a href="javascript: void(0)" class="menu-link">
                            <span class="menu-dot"></span>
                            <p class="menu-text">Item 2</p>
                            <span class="badge bg-info rounded ms-auto">New</span>
                        </a>
                    </li>
                </ul>
            </li>

            <li class="menu-item">
                <a href="javascript:void(0)" class="menu-link">
                    <span class="menu-icon">
                        <i class="ph-duotone ph-seal-check"></i>
                    </span>
                    <p class="menu-text"> Badge Items </p>
                    <span class="badge bg-danger rounded ms-auto">Hot</span>
                </a>
            </li>
        </ul>
    </ngx-simplebar>
</div>
<!-- Sidenav Menu End  -->