<div class="flex justify-center items-center login-outer">
    <div style="box-shadow: 0 0px 15px 2px rgb(0 0 0 / 0.1)" class="bg-white p-10 rounded-lg shadow-lg w-full max-w-xs sm:max-w-sm mx-4 relative">
        <div class="flex flex-col items-center mb-4">
            <div class="w-16 h-16 sm:w-20 sm:h-20 rounded-full login-bg-color flex items-center justify-center mb-3">
                <!-- Replace with your user icon -->
                <span class="text-3xl">😎</span>
            </div>
            <h2 class="text-lg sm:text-xl font-semibold login-text-color">Have an account?</h2>
        </div>
        <form>
            <div class="mb-4">
                <input type="text" placeholder="Email" class="w-full px-3 py-2 sm:px-4 sm:py-3 border-none rounded-sm  login-text-color login-input" />
            </div>
            <div class="mb-4">
                <input type="password" placeholder="Password" class="w-full px-3 py-2 sm:px-4 sm:py-3 border-none rounded-sm login-text-color login-input" />
            </div>
            <p class="ml-2 text-center mb-3 text-red-600">Invalid Credential</p>
            <div class="flex justify-between items-center mb-4">
                <label class="flex items-center text-sm">
                    <input type="checkbox" class="form-checkbox rounded h-3 w-3 sm:h-4 sm:w-4 login-checkbox"><span class="ml-2 login-text-color">Remember Me</span>
                </label>
                <a href="#" class="text-sm hover:underline login-text-color">Forgot Password?</a>
            </div>
            <button type="submit" class="w-4/5 text-white py-2 sm:py-3 rounded transition-colors login-btn">Get Started</button>
        </form>
    </div>
</div>