<app-msg [MsgBoxId]="msgBoxId"></app-msg>

<app-login-modal title="Have an account?">
    <form [formGroup]="loginForm" (ngSubmit)="login()">
        <div class="mb-4">
            <app-input name="Email" [control]="email" type="text" placeholder="Email" autocomplete="email" />
        </div>
        <div class="mb-4">
            <app-input name="Password" [control]="password" type="password" placeholder="Password"
                autocomplete="Password" />
        </div>
        <p *ngIf="msg!=null || msg!=''" class="ml-2 text-center mb-3 text-red-600">{{msg}}</p>
        <div class="flex justify-between items-center mb-4">
            <label class="flex items-center text-sm">
                <input [formControl]="rememberMe" type="checkbox"
                    class="form-checkbox rounded h-3 w-3 sm:h-4 sm:w-4 login-checkbox"><span
                    class="ml-2 login-text-color">Remember Me</span>
            </label>
            <a routerLink="/forgotpassword" class="text-sm hover:underline login-text-color">Forgot Password?</a>
        </div>
        <button [disabled]="isLogingIn" type="submit"
            class="w-4/5 text-white py-2 sm:py-3 rounded transition-colors login-btn">
            <app-dot-wave-loader colorCode="#FFFFFF" class="flex justify-center items-center my-1 mt-1.5"
                *ngIf="isLogingIn ; else GetStartText" />
            <ng-template #GetStartText> Get Started </ng-template>
        </button>
    </form>
</app-login-modal>