<app-msg [MsgBoxId]="msgBoxId"></app-msg>
<app-msg [MsgBoxId]="uploadBoxId"></app-msg>

<!-- Sliding Modal -->
<app-sliding-modal *ngIf="showBlockPanel" (close)="closeBlockPanel()">
    <div heading class="w-full flex justify-between 2xs:items-center items-start px-2 2xs:ml-6 ml-3 flex-wrap gap-4">
        <div class="flex flex-col justify-center items-start gap-1">
            <p class="text-themeblue-900 text-2xl font-bold 2xs:leading-4 leading-5">{{detailUser?.name}}</p>
            <p class="text-gray-500 text-sm font-semibold line">Added On {{detailUser?.createDate | date:'MMM dd, yyyy'}}</p>
        </div>
        <div class="flex justify-center 2xs:items-center items-start 2xs:gap-3 gap-2 w-fit 2xs:flex-row flex-col">
            <button [disabled]="false" class="text-white rounded-lg text-base text-[red] flex-none w-fit underline-offset-2 hover:underline duration-900">
                <app-dot-wave-loader colorCode="#FF0000" class="flex justify-center items-center py-1.5 sm:py-1.5  "
                    *ngIf="false ; else deactiveText" />
                <ng-template #deactiveText> Deactive </ng-template>
            </button>
            <div class="bg-gray-200 h-4 w-[1px] hidden 2xs:block"></div>
            <button *ngIf="!detailUser?.isAccountActivated" [disabled]="false"
                class=" rounded-lg text-base text-themeblue-900 font-semibold flex-none w-fit underline-offset-2 hover:underline duration-300">
                <app-dot-wave-loader colorCode="#FFFFFF" class="flex justify-center items-center py-1.5 sm:py-1.5"
                    *ngIf="false ; else resendInviteText" />
                <ng-template #resendInviteText> Resend Invite </ng-template>
            </button>
            <div *ngIf="!detailUser?.isAccountActivated" class="bg-gray-200 h-4 w-[1px] hidden 2xs:block"></div>
            <div class="flex justify-center items-center cursor-pointer">
                <i class="ph-trash ph-lg hover:text-[red] duration-300"></i>
            </div>
        </div>
    </div>
    <div body>
        <div class="bg-gray-300 w-full h-[1px] mb-10"></div>
 
        <div class="grid grid-cols-2 gap-8">
            <div class="sm:col-span-1 col-span-2 flex justify-center items-center sm:w-fit w-full mb-6">
                <img *ngIf="detailUser!.image; else charactorImage" [src]="API.ORIGIN + detailUser!.image"
                    [alt]="this.detailUser?.name" class="rounded-2xl h-[12rem] w-[12rem] flex-none">
                <ng-template #charactorImage>
                    <div class="rounded-2xl h-[12rem] w-[12rem] flex justify-center items-center flex-none"
                        style="background: #666887;">
                        <p class="text-white text-[10rem] font-semibold">
                            {{detailUser!.name![0].toUpperCase()}}
                        </p>
                    </div>
                </ng-template>
                </div>  
            <div class="sm:col-span-1 col-span-2 grid grid-cols-1 gap-8 sm:py-8 py-0">
                <div>
                    <p class="text-sm leading-0">NAME</p>
                    <p class="text-lg font-bold text-gray-800 ml-2">{{detailUser?.name}}</p>
                </div>
                <div>
                    <p class="text-sm leading-0">EMAIL</p>
                    <p class="text-lg font-bold text-gray-800 ml-2">{{detailUser?.email}}</p>
                </div>
            </div>
            <div class="sm:col-span-1 col-span-2">
                    <p class="text-sm leading-0">CONTACT PERSON</p>
                    <p class="text-lg font-bold text-gray-800 ml-2">{{detailUser?.contactPerson}}</p>
            </div>
            <div class="sm:col-span-1 col-span-2">
                    <p class="text-sm leading-0">CONTACT NUMBER</p>
                    <p class="text-lg font-bold text-gray-800 ml-2">{{detailUser?.phoneNumber}}</p>
            </div>
            <div class="col-span-2">
                    <p class="text-sm leading-0">ADDRESS</p>
                    <p class="text-lg font-bold text-gray-800 ml-2">{{detailUser?.address}}</p>
            </div>
            <div class="sm:col-span-1 col-span-2">
                    <p class="text-sm leading-0">SUBSCRPITION START</p>
                    <p class="text-lg font-bold text-gray-800 ml-2">{{detailUser?.subscriptionEndDate | date:'MMM dd, yyyy'}}</p>
            </div>
            <div class="sm:col-span-1 col-span-2">
                    <p class="text-sm leading-0">SUBSCRPITION END</p>
                    <p class="text-lg font-bold text-gray-800 ml-2">{{detailUser?.subscriptionEndDate | date:'MMM dd, yyyy'}}</p>
            </div>
          </div>


    </div>
</app-sliding-modal>

<app-floating-modal [floatingModalId]="addOrgFloatingModalId" title="Add Organization">
    <form [formGroup]="newOrganizationForm" (ngSubmit)="createNewUser()" class="xs:w-80 w-full flex flex-col gap-4">
        <app-input [control]="name" name="Name" type="text" autocomplete="Name" placeholder="Name"></app-input>
        <app-input [control]="email" name="Email" type="text" placeholder="Email"></app-input>
        <app-input [control]="phoneNumber" name="Contact Number" type="text" placeholder="Contact Number"
            format="00000 00000"></app-input>
        <app-input [control]="contactPerson" name="Contact Person Name" type="text"
            placeholder="Contact Person Name"></app-input>
        <button [disabled]="isCreatingNewUser" type="submit" (click)="createNewUser()"
            class="w-4/5 text-white py-2 sm:py-3 rounded bg-themeblue-900 w-full mt-2">
            <app-dot-wave-loader colorCode="#FFFFFF" class="flex justify-center items-center my-1 mt-1.5"
                *ngIf="isCreatingNewUser ; else GetStartText" />
            <ng-template #GetStartText> Create Organization </ng-template>
        </button>
    </form>
</app-floating-modal>

<app-floating-modal [floatingModalId]="editOrgFloatingModalId" title="Edit Organization">
    <form [formGroup]="newOrganizationForm" (ngSubmit)="editUser($event)" class="xs:w-80 w-full flex flex-col gap-4">
        <app-input [control]="name" name="Name" type="text" autocomplete="Name" placeholder="Name"></app-input>
        <app-input [control]="email" name="Email" type="text" placeholder="Email"></app-input>
        <button [disabled]="isEditingUser" type="submit"
            class="w-4/5 text-white py-2 sm:py-3 rounded bg-themeblue-900 w-full mt-2">
            <app-dot-wave-loader colorCode="#FFFFFF" class="flex justify-center items-center my-1 mt-1.5"
                *ngIf="isEditingUser ; else SaveText" />
            <ng-template #SaveText> Save </ng-template>
        </button>
    </form>
</app-floating-modal>

<app-floating-modal [floatingModalId]="addOrgCSVFloatingModalId" title="Add Organization CSV">
    <app-upload-file #uploadFileComponent [mappingFieldsInput]="mappingFields.OrganizationFields"
        (onFinalListGenerated)="createUserRange($event)"></app-upload-file>
</app-floating-modal>

<main class="p-6">

    <app-page-heading [heading]="pageTitle" [navigations]="['Menu', pageTitle]"></app-page-heading>

    <div class="flex justify-between gap-4 w-full mb-2 sm:flex-nowrap flex-wrap ">

        <div class="flex justify-center items-center gap-4 w-full sm:w-fit">
            <!-- Search -->
            <div class="md:flex items-center relative w-full sm:w-fit">
                <div class="absolute inset-y-0 start-0 flex items-center ps-3 pointer-events-none">
                    <i class="bx bx-search text-lg text-themeblue-900"></i>
                </div>
                <input type="search"
                    class="form-input px-8 rounded-lg border-transparent focus:border-transparent bg-themeblue-100 text-themeblue-900"
                    placeholder="Search..." [(ngModel)]="filterText" (input)="filterData($event)">
            </div>
        </div>

        <div class="flex sm:justify-center items-center gap-4  sm:w-fit w-full"
            [ngClass]="{'justify-end':selectedUserList.length == 0, 'justify-between': selectedUserList.length != 0}">
            <!-- Action Button -->
            <app-floating-dropdown *ngIf="selectedUserList.length != 0" [floatingDropdownId]="userActionDropdownId"
                class="float-left">
                <button floating-dropdown-title (click)="openFloatingDropdown($event, userActionDropdownId)"
                    class="floating-dropdown-btn relative text-base rounded-lg w-32 px-2.5 py-1.5 border-2 flex justify-between items-center focus:border-grey-200 bg-white">
                    Actions <i class="bx bx-chevron-down text-xl floating-dropdown-btn"></i>
                </button>
                <div floating-dropdown-menu
                    class="absolute top-8 z-50 transition-[margin,opacity] duration-900 mt-2 bg-white border-2 border-grey-400 rounded-lg p-2 mr-5 w-fit min-w-32 sm:left-0 right-0"
                    style="right: -1.2rem;">
                    <div (click)="deleteSeletedRecords()"
                        class="cursor-pointer flex items-center py-2 px-3 rounded-md text-sm text-gray-500 hover:bg-themeblue-200 whitespace-nowrap">
                        Delete
                    </div>
                    <div
                        class="cursor-pointer flex items-center py-2 px-3 rounded-md text-sm text-gray-500 hover:bg-themeblue-200 whitespace-nowrap">
                        Assign
                    </div>
                    <div
                        class="cursor-pointer flex items-center py-2 px-3 rounded-md text-sm text-gray-500 hover:bg-themeblue-200 whitespace-nowrap">
                        Create Task
                    </div>
                </div>
            </app-floating-dropdown>

            <!-- ADD Button -->
            <app-floating-dropdown [floatingDropdownId]="addLeadId">
                <button floating-dropdown-title (click)="openFloatingDropdown($event, addLeadId)"
                    class="floating-dropdown-btn nav-link flex items-center gap-2.5 waves-effect flex justify-center items-center h-10 w-10 rounded-lg bg-themeblue-100">
                    <i class="floating-dropdown-btn bx bx-plus text-2xl  text-themeblue-900"></i>
                </button>
                <div floating-dropdown-menu
                    class="absolute top-11 z-50 transition-[margin,opacity] duration-900 mt-2 bg-white shadow-lg rounded-lg p-2 mr-5"
                    style="right: -1.2rem;">
                    <div (click)="openAddUserForm($event)"
                        class="cursor-pointer w-40 flex items-center py-2 px-3 rounded-md text-sm text-gray-800 hover:bg-gray-500 hover:bg-themeblue-200">
                        Create Organizations
                    </div>
                    <div (click)="openAddUserCSVForm($event)"
                        class="cursor-pointer w-40 flex items-center py-2 px-3 rounded-md text-sm text-gray-800 hover:bg-gray-500 hover:bg-themeblue-200">
                        Import CSV
                    </div>
                </div>
            </app-floating-dropdown>
        </div>
    </div>
    <div class="grid">
        <div class="overflow-x-auto w-full rounded-lg">
            <div class="min-w-full inline-block align-middle rounded-lg">
                <div class="overflow-auto border rounded-lg shadow h-max max-h-[55vh]">
                    <table class="min-w-full whitespace-nowrap text-base divide-y divide-gray-200">
                        <thead class="text-grey-500">
                            <tr class="bg-themeblue-100 sticky top-0">
                                <th></th>
                                <th class="pl-4 pr-6 py-3">
                                    <input type="checkbox" id="AllOrgCheckbox" (click)="toggelAllUserSelection($event)"
                                        class="float-left form-checkbox rounded h-3 w-3 sm:h-4 sm:w-4 login-checkbox focus:outline-none">
                                </th>
                                <th *ngFor="let field of tableColumns;let i = index " class="px-6 py-3 ">
                                    <div class class="flex gap-4 justify-between items-center">
                                        <span
                                            class="float-left flex items-center justify-center gap-2">{{field.displayName}}
                                            <i *ngIf="orderBy==field.fieldName && order == Order.DESC"
                                                class="ph-arrow-down text-lg"></i>
                                            <i *ngIf="orderBy==field.fieldName && order == Order.ASC"
                                                class="ph-arrow-up text-lg"></i>
                                        </span>
                                        <app-floating-dropdown *ngIf="field.isSortable"
                                            [floatingDropdownId]="field.displayName + 'sorting' + i">
                                            <i floating-dropdown-title
                                                (click)="openFloatingDropdown($event, field.displayName + 'sorting' + i)"
                                                class="bx bx-filter text-2xl float-right floating-dropdown-btn"></i>
                                            <div floating-dropdown-menu
                                                class="absolute top-4 z-50 transition-[margin,opacity] duration-900 mt-2 bg-white shadow-lg rounded-lg p-2 mr-5 w-32"
                                                style="right: -1.2rem;">
                                                <div *ngIf="!(orderBy == field.fieldName && order == Order.ASC)"
                                                    (click)="sortData(field.fieldName, Order.ASC)"
                                                    class="flex justify-between items-center py-2 px-3 rounded-md text-sm text-gray-500 hover:bg-themeblue-200 cursor-pointer">
                                                    <p>{{Order.ASC}}</p>
                                                    <i class="bx bx-sort-a-z text-xl"></i>
                                                </div>
                                                <div *ngIf="!(orderBy == field.fieldName && order == Order.DESC)"
                                                    (click)="sortData(field.fieldName, Order.DESC)"
                                                    class="flex justify-between items-center py-2 px-3 rounded-md text-sm text-gray-500 hover:bg-themeblue-200 cursor-pointer">
                                                    <p>{{Order.DESC}}</p>
                                                    <i class="bx bx-sort-z-a text-xl"></i>
                                                </div>
                                                <div *ngIf="orderBy == field.fieldName" (click)="sortData(null, null)"
                                                    class="flex justify-between items-center py-2 px-3 rounded-md text-sm text-gray-500 hover:bg-themeblue-200 cursor-pointer">
                                                    <p>Unsort</p>
                                                    <i class="ph-prohibit text-lg"></i>
                                                </div>
                                            </div>
                                        </app-floating-dropdown>
                                    </div>
                                </th>
                            </tr>
                        </thead>
                        <tbody *ngIf="userList != null && userList != []; else loader "
                            class="divide-y divide-themeblue-100">
                            <tr *ngFor="let userItem of filteredList; let i = index"
                                class="group hover:bg-themeblue-200">
                                <td class="pl-4 py-3">
                                    <app-floating-dropdown [floatingDropdownId]="userItem.id  + i" class="float-left">
                                        <div floating-dropdown-title
                                            (click)="openFloatingDropdown($event, userItem.id  + i)"
                                            class="floating-dropdown-btn invisible group-hover:visible h-6 w-6 rounded-full bg-white flex justify-center items-center">
                                            <i
                                                class="floating-dropdown-btn bx bx-dots-horizontal-rounded text-lg text-themeblue-900">
                                            </i>
                                        </div>
                                        <div floating-dropdown-menu
                                            class="absolute top-6 left-0 z-50 transition-[margin,opacity] duration-900 mt-2 bg-white shadow-lg rounded-lg p-2 mr-5 w-fit text-base text-grey-800">
                                            <div (click)="openEditUserForm(userItem)"
                                                class="flex justify-between items-center py-2 px-3 rounded-md text-sm text-gray-500 hover:bg-themeblue-200 cursor-pointer">
                                                <p>Edit</p>
                                            </div>
                                            <div
                                                class="flex justify-between items-center py-2 px-3 rounded-md text-sm text-gray-500 hover:bg-themeblue-200 cursor-pointer">
                                                <p>No Idea About Option</p>
                                            </div>
                                        </div>
                                    </app-floating-dropdown>

                                </td>
                                <td class="pl-4 pr-6 py-3">
                                    <input type="checkbox" [checked]="selectedUserList.includes(userItem)"
                                        (click)="toggelUserSelect($event, userItem)"
                                        class="form-checkbox rounded h-3 w-3 sm:h-4 sm:w-4 login-checkbox focus:outline-none">
                                </td>
                                <td class="px-6 py-3">
                                    <app-tag *ngIf="userItem.isAccountActivated" color="success">ACTIVE</app-tag>
                                    <app-tag *ngIf="!userItem.isAccountActivated" color="danger">PENDING</app-tag>
                                </td>
                                <td class="px-6 py-3 cursor-pointer" (click)="showDetail(userItem.id)">
                                    <div class="flex justify-start items-center gap-4">
                                        <img *ngIf="userItem.image; else charactorImage"
                                            [src]="API.ORIGIN + userItem.image" [alt]="this.userItem?.name"
                                            class="rounded-full h-8 w-8">
                                        <ng-template #charactorImage>
                                            <div class="rounded-full h-8 w-8 flex justify-center items-center"
                                                style="background: #666887;">
                                                <p class="text-white text-lg font-semibold">
                                                    {{userItem.name![0].toUpperCase()}}
                                                </p>
                                            </div>
                                        </ng-template>
                                        <p class="font-semibold group-hover:text-themeblue-400">{{userItem.name}}</p>
                                    </div>
                                </td>
                                <td class="px-6 py-3">
                                    <a class="group-hover:text-themeblue-400"
                                        [href]="'mailto:'+ userItem.email">{{userItem.email}}</a>
                                </td>
                                <td class="px-6 py-3">
                                    <div class="flex justify-center items-center gap-2">
                                        <p>{{userItem.phoneNumber}}</p>
                                        <a [href]="'tel:'+ userItem.phoneNumber"
                                            class="flex justify-center items-center">
                                            <i
                                                class="ph-phone text-lg text-gray-500 group-hover:text-themeblue-400"></i>
                                        </a>
                                    </div>
                                </td>
                                <td class="px-6 py-3">{{userItem.contactPerson}}</td>
                            </tr>
                        </tbody>
                        <ng-template #loader>
                            <app-dot-wave-loader colorCode="#11153e"></app-dot-wave-loader>
                        </ng-template>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div class="flex items-center justify-between sm:justify-between sm:flex-nowrap flex-wrap w-full gap-2 mt-3">
        <div class="text-base font-normal w-fit whitespace-nowrap">
            <p *ngIf="selectedUserList.length == 0; else selectedRecordCount">Total Records : <span
                    class="font-semibold">{{totalRecords}}</span></p>
            <ng-template #selectedRecordCount>
                <div class="flex justify-center align-center gap-4">
                    <p> <span class="font-semibold">{{selectedUserList.length}} </span>&nbsp;Records Seleted</p>
                    <button (click)="clearSelectedUser($event)"
                        class="border-b-2 hover:border-gray-400 h-6">Clear</button>
                </div>
            </ng-template>
        </div>
        <div
            class="flex items-center sm:justify-between justify-between sm:flex-nowrap flex-wrap w-full sm:w-fit gap-3">
            <div class="flex justify-center items-center gap-2 sm-mt-0">
                <label class="text-base text-gray-500 whitespace-nowrap">Items per page
                </label>
                <app-floating-dropdown floatingDropdownId="branchRecordPerPageId">
                    <button floating-dropdown-title (click)="openFloatingDropdown($event, 'branchRecordPerPageId')"
                        class="floating-dropdown-btn border-grey-400 border-2 text-themeblue-900 py-1 w-16 px-2 ml-2 sm:mr-5 mr-0 rounded flex justify-between items-center focus:border-grey-400">
                        {{recordPerPage}} <i
                            class="bx bx-chevron-up text-xl text-themeblue-900 floating-dropdown-btn"></i>
                    </button>
                    <div floating-dropdown-menu
                        class="absolute bottom-9 z-50 transition-[margin,opacity] duration-900 mt-2 bg-white border-2 border-grey-400 rounded p-2 mr-5 w-fit right-0 min-w-16">
                        <div *ngFor="let opt of recordPerPageOptions" (click)="changeRecordPerPage(opt)"
                            [ngClass]="{'text-themeblue-400 bg-themeblue-200': recordPerPage == opt}"
                            class="cursor-pointer flex items-center py-2 px-3 rounded-md text-sm text-gray-800 hover:bg-gray-500 hover:bg-themeblue-200 whitespace-nowrap">
                            {{opt}}
                        </div>
                    </div>
                </app-floating-dropdown>

            </div>
            <div class="flex justify-center items-center gap-2">
                <p class="flex sm:hidden mt-0"><span class="font-semibold">{{number(pageNo)*number(recordPerPage) -
                        (number(recordPerPage)-1)}}</span> &nbsp; to &nbsp; <span
                        class="font-semibold">{{number(pageNo)*number(recordPerPage) }}</span></p>
                <ul class="flex h-8 text-sm ">
                    <li>
                        <a (click)="onPrevious(pageNo)"
                            class="flex items-center px-3 h-8 ms-0 leading-tight text-gray-500 bg-white border border-e-0 border-gray-300 rounded-s-lg hover:bg-gray-100 hover:text-gray-700">
                            <span class="sr-only">Previous</span>
                            <svg class="w-2.5 h-2.5 rtl:rotate-180" aria-hidden="true"
                                xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 6 10">
                                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"
                                    stroke-width="2" d="M5 1 1 5l4 4" />
                            </svg>
                        </a>
                    </li>
                    <li>
                        <div (click)="changePageNo(1)"
                            [ngClass]="{'bg-themeblue-400 text-white':1==pageNo, 'hover:bg-themeblue-200 hover:text-themeblue-900':1!=pageNo}"
                            class=" hidden sm:flex items-center justify-center px-3 h-8 leading-tight text-gray-500 border border-gray-300  cursor-pointer">
                            {{1}}</div>
                    </li>
                    <li *ngIf="pageNoOptions.length > 4 && pageNoShowOptions[0] != 2">
                        <div
                            class=" hidden sm:flex items-center justify-center px-3 h-8 leading-tight text-gray-500  border-r border-t border-b border-gray-300  cursor-pointer text-2xl">
                            ...</div>
                    </li>
                    <li *ngFor="let pageNoOpt of pageNoShowOptions; let i = index">
                        <div *ngIf="pageNoOptions.length > 2 &&  pageNoOpt != pageNoOptions[pageNoOptions.length-1] && pageNoOpt != 1"
                            (click)="changePageNo(pageNoOpt)"
                            [ngClass]="{'bg-themeblue-400 text-white':pageNoOpt==pageNo, 'hover:bg-themeblue-200 hover:text-themeblue-900':pageNoOpt!=pageNo}"
                            class=" hidden sm:flex items-center justify-center px-3 h-8 leading-tight text-gray-500 border-r border-t border-b border-gray-300  cursor-pointer">
                            {{pageNoOpt}}</div>
                    </li>
                    <li
                        *ngIf="pageNoOptions.length > 4 && pageNoShowOptions[pageNoShowOptions.length - 1] != pageNoOptions[pageNoOptions.length - 2]">
                        <div
                            class=" hidden sm:flex items-center justify-center px-3 h-8 leading-tight text-gray-500  border-r border-t border-b border-gray-300 cursor-pointer text-2xl">
                            ...</div>
                    </li>
                    <li>
                        <div (click)="changePageNo(pageNoOptions[pageNoOptions.length - 1])"
                            *ngIf="pageNoOptions.length != 1"
                            [ngClass]="{'bg-themeblue-400 text-white':pageNoOptions[pageNoOptions.length - 1]==pageNo, 'hover:bg-themeblue-200 hover:text-themeblue-900':pageNoOptions[pageNoOptions.length - 1]!=pageNo}"
                            class=" hidden sm:flex items-center justify-center px-3 h-8 leading-tight text-gray-500 border-r border-t border-b border-gray-300  cursor-pointer">
                            {{pageNoOptions[pageNoOptions.length - 1]}}</div>
                    </li>
                    <li>
                        <a (click)="onNext(pageNo)"
                            class="flex items-center justify-center px-3 h-8 leading-tight text-gray-500 bg-white border sm:border-l-0 border-gray-300 rounded-e-lg hover:bg-gray-100 hover:text-gray-700">
                            <span class="sr-only">Next</span>
                            <svg class="w-2.5 h-2.5 rtl:rotate-180" aria-hidden="true"
                                xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 6 10">
                                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"
                                    stroke-width="2" d="m1 9 4-4-4-4" />
                            </svg>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>

</main>