.notification-animation{
    animation-name: noti;
    animation-duration: 0.3s;
    animation-timing-function: ease-out;
}

@keyframes noti{
    from{
        transform: translateX(100%);
    }

    to{
        transform: translateX(0%);
    }
}

.close-notification-animation{
    
    animation-name: cnoti;
    animation-duration: 0.5s;
    animation-timing-function: ease-in;

}
@keyframes cnoti{
    from{
        transform: translateX(0%);
    }

    to{
        transform: translateX(100%);
    }
}

.open-backdrop-animation {
    animation-name: open-backdrop;
    animation-duration: 0.5s;
}

@keyframes open-backdrop {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.close-backdrop-animation {
    animation-name: close-backdrop;
    animation-duration: 0.5s;
}

@keyframes close-backdrop {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
    }
}