.notification-animation{
    animation-name: noti;
    animation-duration: 0.3s;
}

@keyframes noti{
    from{
        transform: translateX(100%);
    }

    to{
        transform: translateX(0%);
    }
}

.close-notification-animation{
    
    animation-name: cnoti;
    animation-duration: 0.5s;

}
@keyframes cnoti{
    from{
        transform: translateX(0%);
    }

    to{
        transform: translateX(100%);
    }
}