<div (click)="onCloseNotification()" class="top-0 h-full bg-backdrop-900 fixed left-0 right-0" style="z-index: 51;"></div>
<div id="close" [ngClass]="{'close-notification-animation': !isNotificationClosed}"  style="z-index: 52;" class=" fc-offcanvas-open:translate-x-0 translate-x-full rtl:-translate-x-full fixed top-0 end-0 transition-all duration-300 transform h-full max-w-xs w-full z-50 bg-white fc-offcanvas open notification-animation shadow-lg">
    <div class="flex justify-between items-center py-3 px-4">
        <h3 class="font-bold text-gray-800 text-base">
            Notifications
        </h3>
        <!-- <button  type="button" class="inline-flex flex-shrink-0 justify-center items-center h-8 w-8 rounded-md text-gray-500 hover:text-gray-700 focus:outline-none focus:ring-2 focus:ring-gray-400 focus:ring-offset-2 focus:ring-offset-white text-sm"> -->
            <i (click)="onCloseNotification()" class="fa-solid fa-xmark fa-lg inline-flex flex-shrink-0 justify-center items-center h-8 w-8 rounded-full text-gray-500 hover:text-themeblur-200 focus:outline-none focus:ring-offset-2 focus:ring-offset-white nav-link"></i>
        <!-- </button> -->
    </div>
    <div class="p-4">
        <p class="text-gray-800">
            Some text as placeholder. In real life you can have the elements you have chosen. Like, text, images, lists, etc.
        </p>
    </div>
</div>
