<div id="close" class="panel  bg-white shadow-2xl px-5 overflow-auto w-full h-full" [class.slide-out]="closing">
    <div class="flex justify-start 2xs:items-center items-start py-3 px-4 pt-10 w-full">
        <i (click)="closePanel()" class="ph-arrow-left text-2xl fa-lg inline-flex flex-shrink-0 justify-center items-center h-8 w-8 rounded-lg text-gray-500 hover:text-themeblur-200 focus:outline-none focus:ring-offset-2 focus:ring-offset-white nav-link"></i>
        <ng-content select="[heading]"></ng-content>
    </div>
    <div class="p-4 mb-3">
        <ng-content select="[body]"></ng-content>
    </div>
</div>