
<!DOCTYPE html>
<html lang="en" data-sidebar-color="dark" data-topbar-color="light" data-sidebar-view="default">

<head>
    <meta charset="utf-8">
    <title>Dashboard | Lunoz - Responsive Tailwind Admin Dashboard</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta content="MyraStudio" name="author">

</head>

<body>

    <div class="app-wrapper">

        <app-side-nav-menu></app-side-nav-menu>

        <!-- Start Page Content here -->
        <div class="app-content">

          <app-header></app-header>
         

            <app-dashboard></app-dashboard>
        

            <app-footer></app-footer>
       

        </div>
        <!-- End Page content -->

    </div>

    <!-- Plugin Js -->
    <script src="assets/libs/jquery/jquery.min.js"></script>
    <script src="assets/libs/node-waves/waves.min.js"></script>
    <script src="assets/libs/@frostui/tailwindcss/frostui.js"></script>

    <!-- App Js -->
    <script src="assets/js/app.js"></script>

    <!-- Apexcharts js -->
    <script src="assets/libs/apexcharts/apexcharts.min.js"></script>

    <!-- Morris Js-->
    <script src="assets/libs/morris.js/morris.min.js"></script>

    <!-- Raphael Js-->
    <script src="assets/libs/raphael/raphael.min.js"></script>

    <!-- Dashboard Project Page js -->
    <script src="assets/js/pages/dashboard.js"></script>

</body>

</html>