<app-login-modal title="Forgot your password?">
    <form ngForm [formGroup]="forgotPasswordForm" (ngSubmit)="verify()">
        <div class="mb-4">
            21amtics451@gmail.com
            <div class="flex flex-row items-center h-fit">
                <input [formControl]="email" type="text" placeholder="Email"
                    class="w-full px-3 py-2 sm:px-4 sm:py-3 border-none rounded-sm  login-text-color login-input" />
                    <div *ngIf="showChangeEmailBtn" class="login-input flex flex-row items-center px-2 change-icon-outer">
                        <i class="fa-solid fa-rotate-left fa-xl" (click)="changeEmail()" style="color: #11153e;"></i>
                    </div>
            </div>
            <p *ngIf="email.errors?.['email'] && email.touched && email.dirty" class="mt-1 mb-3 text-red-600">Enter Valid Email</p>
            <p *ngIf="email.errors?.['required'] && email.touched && email.dirty" class="mt-1 mb-3 text-red-600">Email is required</p>
        </div>
        <div class="mb-4">
            <input [formControl]="otp" type="number" placeholder="OTP" id="OTPField"
                class="w-full px-3 py-2 sm:px-4 sm:py-3 border-none rounded-sm login-text-color login-input transition-all duration-500 opacity-0 hidden" />
            <p *ngIf="showCountDown" class="ml-2 text-center mb-3 mt-1 text-base">{{timer}}</p>
        </div>
        <p *ngIf="msg!=null || msg!=''" class="ml-2 text-center mb-3 text-red-600">{{msg}}</p>
        <button [disabled]="isSendingOTP" id="optBtn" (click)="getOTP($event)" type="button"
            class="w-4/5 text-white py-2 sm:py-3 rounded transition-colors login-btn">Get OTP</button>
        <button [disabled]="isVerifing" id="verifyBtn" type="submit"
            class="w-4/5 text-white py-2 sm:py-3 rounded transition-colors login-btn hidden">Verify</button>
    </form>
</app-login-modal>