<app-login-modal title="Forgot your password?">
    <form ngForm [formGroup]="forgotPasswordForm">
        <div class="mb-4">
            <div class="flex flex-row items-center h-fit" id="emailField">
                <input [formControl]="email" type="text" placeholder="Email" 
                    class="w-full px-3 py-2 sm:px-4 sm:py-3 border-none rounded-sm  login-text-color login-input" />
                <div *ngIf="showChangeEmailBtn" class="login-input flex flex-row items-center px-2 change-icon-outer">
                    <i class="fa-solid fa-pen-to-square fa-lg cursor-pointer" (click)="changeEmail()" style="color: #11153e;"></i>
                </div>
            </div>
            <p *ngIf="email.errors?.['email'] && email.touched && email.dirty" class="mt-1 mb-3 text-red-600">Enter
                Valid Email</p>
            <p *ngIf="email.errors?.['required'] && email.touched && email.dirty" class="mt-1 mb-3 text-red-600">Email
                is required</p>
        </div>
        <div class="mb-4 opacity-0 hidden"  id="newPasswordFied">
            <div class="flex flex-row items-center h-fit transition-all duration-500 " >
                <input [formControl]="newPassword" [type]="showPassword ? 'text' : 'password'" placeholder="New Password" 
                    class="w-full px-3 py-2 sm:px-4 sm:py-3 border-none rounded-sm  login-text-color login-input" />
                <div class="login-input flex flex-row items-center px-2 change-icon-outer" >
                    <i id="eye-icon" (click)="showPasswordToggle($event)" class="fa-regular fa-eye fa-lg cursor-pointer" style="color: #11153e;"></i>
                </div>
            </div>
            <p *ngIf="newPassword.errors?.['pattern'] && email.touched && email.dirty" class="mt-1 mb-3 text-red-600">Password must be minimum 8 characters long and
                must contain 1 uppercase letter, 1 lowercase letter, 1 number and 1 special character</p>
            <p *ngIf="newPassword.errors?.['required'] && email.touched && email.dirty" class="mt-1 mb-3 text-red-600">Password
                is required</p>
        </div>
        <div class="mb-4">
            <input [formControl]="otp" type="number" placeholder="OTP" id="OTPField"
                class="w-full px-3 py-2 sm:px-4 sm:py-3 border-none rounded-sm login-text-color login-input transition-all duration-500 opacity-0 hidden" />
            <div *ngIf="showCountDown" class="flex justify-between items-center mb-3 mt-1">
                <button type="button" class="cursor-pointer disabled:opacity-50" [disabled]="!resendOTPEnable" (click)="resendOTP($event)">
                    <span class=" primary-text-color font-semibold">Resend OTP</span>
                </button>
                <p class="ml-2 text-center text-base">{{timer}}</p>
            </div>
        </div>
        <p *ngIf="showmsg" class="ml-2 text-center mb-3 text-red-600">{{msg}}</p>
        <button [disabled]="isChanging" id="changePasswordBtn" (click)="changePassword($event)" type="button"
            class="w-4/5 text-white py-2 sm:py-3 rounded transition-colors login-btn hidden">Change</button>
        <button [disabled]="isSendingOTP" id="optBtn" (click)="getOTP($event)" type="button"
            class="w-4/5 text-white py-2 sm:py-3 rounded transition-colors login-btn">Get OTP</button>
        <button [disabled]="isVerifing" id="verifyBtn" type="button" (click)="verify($event)"
            class="w-4/5 text-white py-2 sm:py-3 rounded transition-colors login-btn hidden">Verify</button>
    </form>
</app-login-modal>