<div (click)="closePanel()"></div>
<div id="close" class="panel" [class.slide-out]="closing">
    <div class="flex justify-between items-center py-3 px-4">
        <h3 class="font-bold text-gray-800 text-base">
            Notifications
        </h3>
        <i (click)="closePanel()" class="fa-solid fa-xmark fa-lg inline-flex flex-shrink-0 justify-center items-center h-8 w-8 rounded-lg text-gray-500 hover:text-themeblur-200 focus:outline-none focus:ring-offset-2 focus:ring-offset-white nav-link"></i>
    </div>
    <div class="p-4">
        <p class="text-gray-800">
            Some text as placeholder. In real life you can have the elements you have chosen. Like, text,
            images, lists, etc.
        </p>
    </div>
</div>
