.backdrop {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: fixed;
    background: rgba(0, 0, 0, 0.5);
    z-index: 51;
  }
  
  .panel {
    position: fixed;
    top: 0;
    right: 0;
    height: 100%;
    width: 50%;
    background-color: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    z-index: 52;
    transform: translateX(100%);
    animation: slide-in 0.5s forwards;
  }
  
  @keyframes slide-in {
    from {
      transform: translateX(100%);
    }
    to {
      transform: translateX(0);
    }
  }
  
  @keyframes slide-out {
    from {
      transform: translateX(0);
    }
    to {
      transform: translateX(100%);
    }
  }
  
  .slide-out {
    animation: slide-out 0.5s forwards;
  }
  