<div class="w-48   xs:w-80 flex flex-col mt-3 mb-2" *ngIf="!(this.file && isFileAccepted); else fileDetail">
<!-- <div class="w-48 xs:w-80 flex flex-col mt-3 mb-2" *ngIf="false; else fileDetail"> -->
    <div  appEventBlocker
    (drop)="getFile($event)"
    [ngClass]="{'bg-themeblue-200' : isDragover}" (dragend)="isDragover = false" (dragover)="isDragover = true"
        (dragenter)="isDragover = true" (dragleave)="isDragover =false" (mouseleave)="isDragover = false"
        class="border-2 border-dashed border-gray-500 w-full h-40 rounded-lg flex justify-center items-center flex-col">
        <p *ngIf="!isReadingFile" class="text-gray-500 text-base">Drop Here</p>
        <p *ngIf="!isReadingFile" class="text-gray-500 text-sm">- OR -</p>
        <button *ngIf="!isReadingFile" (click)="openFileInput($event)" class="text-white py-1.5 w-36 rounded bg-themeblue-900  mt-2"> Browse
        </button>
        <input type="file" id="fileInput" class="hidden" (input)="getFile($event)">
        <app-dot-wave-loader *ngIf="isReadingFile" colorCode="#11153e"></app-dot-wave-loader>
    </div>
    <p *ngIf="showFileTypeError" class="text-danger ">*Only .csv, .xlsx and .xls files are accepted</p>
</div>


<ng-template #fileDetail>
    <div *ngIf="!isExtracting; else fieldmapping" class="flex gap-6 mt-5 items-center">
    <!-- <div *ngIf="false; else fieldmapping" class="flex gap-6 mt-5 items-center"> -->
        <div class="rounded-full h-14 w-14 bg-success flex justify-center items-center">
            <i class="fa-regular fa-file fa-2xl text-white"></i>
        </div>
        <div class="flex flex-col justify-center items-start">
            <p class="text-base">Your file has been uploaded successfully</p>
            <p class="text-base font-semibold">{{file?.name}}</p>
        </div>
            <i (click)="cancelFile()"
            class="fa-solid fa-xmark  inline-flex flex-shrink-0 justify-center items-center h-8 w-8 rounded-full hover:text-themeblur-200 focus:outline-none focus:ring-offset-2 focus:ring-offset-white nav-link "></i>
    </div>
        <button *ngIf="!isExtracting;" (click)="extractDataFromExcel($event)" class="text-white py-1.5 w-36 rounded bg-themeblue-900 w-full mt-5"> Next</button>
</ng-template>

<ng-template #fieldmapping>
  <div class="container w-full p-5 " >
    <div class="text-gray text-left text-xl">Map Import Fields to file_name</div>
    <div class="grid mt-5 justify-center">
      <div class="overflow-auto w-full md:min-w-[40rem] border rounded-lg shadow mb-5 h-max max-h-[50vh]">
        <table class="whitespace-nowrap text-base divide-y divide-themeblue-200 w-full">
          <thead class="text-grey-500">
            <tr class="bg-themeblue-100 sticky top-0 text-left">
              <th class="px-6 py-3">
                Fields In File
              </th>
              <th class="px-6 py-3">
                Fields In File
              </th>
              <th></th>
            </tr>
          </thead>
          <tbody class="divide-y divide-themeblue-100">
            <tr class="group hover:bg-themeblue-200" *ngFor="let field of fieldsInFile; track item; let  i = index">
              <td class="px-6 py-3">
                {{field}}
              </td>
              <td class="px-6 py-3">
                <app-floating-dropdown [floatingDropdownId]="field + i">
                  <button floating-dropdown-title (click)="openFloatingDropdown($event, field + i)"
                    class="floating-dropdown-btn border border-themeblue-300 text-base rounded-lg w-48 p-2.5 border-2 flex justify-between items-center focus:border-grey-200 bg-white">
                    Sheets <i class="fa-solid fa-caret-down floating-dropdown-btn"></i>
                  </button>
                  <div floating-dropdown-menu
                    class="absolute top-10 z-50 transition-[margin,opacity] duration-900 mt-2 bg-white border-2 border-grey-400 rounded-lg p-2 mr-5 w-fit min-w-48 sm:left-0 right-0"
                    style="right: -1.2rem;">
                    <div *ngFor="let mapfield of mappingFields.BranchFields"
                      class="cursor-pointer flex items-center py-2 px-3 rounded-md text-sm text-gray-800 hover:bg-gray-500 hover:bg-themeblue-200 whitespace-nowrap">
                      {{mapfield.displayName}}
                    </div>
                  </div>
                </app-floating-dropdown>
              </td>
              <td class="px-6 py-3 group">
                <input class="m-2 p-2 invisible group-hover:visible rounded-lg border-b-4 border-themeblue-300 ">
              </td>
            </tr>


          </tbody>
        </table>
      </div>
    </div>
    <div class="w-full h-15 text-base flex justify-between align-center flex-wrap sm:flex-nowrap">
      <div class="flex xs:flex-nowrap justify-between sm:w-fit sm:gap-6 w-full">
        <button class="text-danger py-1.5 w-20 rounded mt-2 "> Reset
        </button>


        <app-floating-dropdown floatingDropdownId="selectSheetId">
          <button floating-dropdown-title (click)="openFloatingDropdown($event, 'selectSheetId')"
            class="floating-dropdown-btn border-grey-400 border-2 text-themeblue-900 py-1.5 w-32 px-2 ml-5 rounded mt-2 flex justify-between items-center focus:border-grey-400">
            {{selectedSheet}} <i class="fa-solid fa-caret-up text-themeblue-900 floating-dropdown-btn"></i>
          </button>
          <div floating-dropdown-menu
            class="absolute bottom-11 z-50 transition-[margin,opacity] duration-900 mt-2 bg-white border-2 border-grey-400 rounded-lg p-2 mr-5 w-fit sm:left-5 right-5 min-w-32"
            style="right: -1.2rem;">
            <div *ngFor="let sn of sheetNames" (click)="selectSheet($event,sn)" [ngClass]="{'bg-themeblue-200': selectedSheet == sn}"
              class="cursor-pointer flex items-center py-2 px-3 rounded-md text-sm text-gray-800 hover:bg-gray-500 hover:bg-themeblue-200 whitespace-nowrap">
              {{sn}}
            </div>
          </div>
        </app-floating-dropdown>

      </div>
      <div class="flex xs:flex-nowrap justify-between sm:w-fit sm:gap-6 w-full">
        <button class="text-themeblue-900 py-1.5 w-20 rounded mt-2"> Previous
        </button>
        <button class="text-white py-1.5 w-20 ml-5 rounded bg-themeblue-900  mt-2"> Next
        </button>
      </div>
    </div>
  </div>
</ng-template>
