<!-- Profile information component -->

<app-profile-information></app-profile-information>


<div class="container p-6">
  <!-- email component -->

  <app-profile-modal
    title="Email Addresses"
    subTitle="
      You can use the following email addresses to sign in to your account 
      and also to reset your password if you ever forget it.">
  </app-profile-modal>

<!-- mobile component -->

  <app-profile-modal
        title="Mobile Numbers"
        subTitle="View and manage all of the mobile numbers associated with your account.">
  </app-profile-modal>

</div>





