@tailwind base;
@tailwind components;
@tailwind utilities;
@import "@fortawesome/fontawesome-free/css/all.min.css";


:root{
    --theme-bg : #11153e;
    --disabled-button-color : #555888;
}

html,body{
    height: 100%;
    width: 100%;
}

body { margin: 0;}


a{
    cursor: pointer;
}


/* login start */
.login-outer{
    height: 100%;
    background: #f8f9fd;
}

.login-text-color{
    color: var(--theme-bg);
}

.login-input{
    
    background: #f2f2f2;
}

.login-bg-color{
    background:  var(--theme-bg);
}

.login-checkbox {
    color:  var(--theme-bg) !important;
}

.login-btn{
    position: absolute;
    bottom: -6%;
    left: 50%;
    transform: translateX(-50%);
    background:  var(--theme-bg);
}

.login-btn[disabled]{
    background: var(--disabled-button-color);
}   

.change-icon-outer{
    height: 3rem;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

/* Login End */


/* Side Nav Bar Start */
#side-nav-bar{
    background: var(--theme-bg);
}

.collapsible-menu {
    font-size: 1.2rem;
    font-weight: 600;
    padding: 20px 80px 20px 20px;
    position: relative;
    display: flex;
    align-items: center;
    cursor: pointer;
    z-index: 10;
  }
  
  .collapsible-menu.active{
    background-color: #d90a2c;
    border-radius: 20px;
    color: white;
  }
  .collapsible-menu.active p{
    color: white;
  }

  .fa-chevron-right{
    transition: 0.2s;
  }

  .collapsible-menu.active .fa-chevron-right {
    transform: rotate(90deg);
  }
  
  .collaped-link {
    max-height: 0;
    overflow: hidden;
    transition: 0.3s;
  }
/*   
  .answer {
    padding: 0 10px;
    line-height: 1.5rem;
    margin-top: 20px;
  } */


