<div *ngIf="msgService.isMsgBoxOpen(MsgBoxId)" class="opacity-75 fixed translate-x-2/4 top-10 right-2/4 rounded open-sliding-msg-animation" [ngClass]="{'close-sliding-msg-animation': isCloseing}"
    style="z-index: 55; background: #000;">
    <div class="flex justify-end items-start p-4 text-white gap-8 cursor-pointer">
        <p class="text-base">{{this.msgService.getMsg(this.MsgBoxId)}}</p>
        <i (click)="closeMsgBox()" class="fa-solid fa-xmark text-white"></i>
    </div>
    <div class="absolute bottom-0 h-1 rounded-t-none rounded-b-2xl loadingBar-animation w-full" id="loadingBar" [ngClass]="bgColor"></div>
</div>