<div class="app-wrapper">

    <!-- <app-notification *ngIf="togglenotification"  (closeNotification)="onNotificationClose()"></app-notification> -->
    <app-notification *ngIf="showNotification" (closeNotification)="closeNotification()" ></app-notification>

    <app-side-nav-menu></app-side-nav-menu>

    <div class="app-content">

        <app-header (toggleNotification)="toggleNotification()"></app-header>


        <router-outlet></router-outlet>

        <app-footer></app-footer>


    </div>

</div>
