<div class="app-wrapper">

    <!-- <app-notification *ngIf="togglenotification"  (closeNotification)="onNotificationClose()"></app-notification> -->
    <app-notification *ngIf="showNotification" (closeNotification)="closeNotification()" ></app-notification>

    <app-side-nav-menu></app-side-nav-menu>

    <div class="app-content relative">

        <app-header class="sticky top-0" style="z-index: 10;" (toggleNotification)="toggleNotification()"></app-header>


        <router-outlet></router-outlet>

        <div class="h-12"></div>

        <app-footer></app-footer>


    </div>

</div>
