<main class="p-6">

    <app-page-heading [heading]="pageTitle" [navigations]="['Menu', pageTitle]"></app-page-heading>


    <div class="flex justify-end gap-4 w-full mb-4">
        <!-- Profile Dropdown Button -->
        <div class="">
            <button (click)="toggleCreateLeadDropdown($event)"
                class="nav-link flex items-center gap-2.5 waves-effect px-3 py-5 rounded-lg bg-themeblue-100">
                <i class="fa-solid fa-plus fa-xl" style="color: #11153e;"></i>
            </button>
            <div (click)="toggleCreateLeadDropdown($event)" id="createLeadDropdwonList"
                class="h-screen w-full hidden absolute left-0 top-0 pt-16 z-50">
                <div
                    class="absolute right-0 top-48 mt-15 w- z-50 transition-[margin,opacity] duration-900 mt-2 bg-white shadow-lg rounded-lg p-2 mr-5">
                    <a class="flex items-center py-2 px-3 rounded-md text-sm text-gray-800 hover:bg-gray-100">
                        Create Lead
                    </a>
                    <a class="flex items-center py-2 px-3 rounded-md text-sm text-gray-800 hover:bg-gray-100">
                        Import CSV
                    </a>
                </div>
            </div>
        </div>
    </div>
            <table class="overflow-auto w-full text-base text-left shadow">
                <thead class="uppercase bg-themeblue-100 text-grey-900">
                    <tr>
                        <th class="px-3 py-2">
                            <input type="checkbox"
                                class="form-checkbox rounded h-3 w-3 sm:h-4 sm:w-4 login-checkbox">
                        </th>
                        <th class="px-3 py-2">status</th>
                        <th class="px-3 py-2">Lead Name
                        </th>
                        <th class="px-3 py-2">Lead Source</th>
                        <th class="px-3 py-2">Lead Owner</th>
                        <th class="px-3 py-2">Email</th>
                        <th class="px-3 py-2">Phone</th>
                        <th class="px-3 py-2">DataEntry Clerk</th>
                        <th class="px-3 py-2">Assigner</th>
                        <th class="px-3 py-2">Sells Person</th>
                    </tr>
                </thead>
                <tbody class="divide-y divide-themeblue-100">
                    <tr class="hover:bg-themeblue-200 leading-4">
                        <td class="px-3 py-2">
                            <input type="checkbox"
                                class="form-checkbox rounded h-3 w-3 sm:h-4 sm:w-4 login-checkbox">
                        </td>
                        <td class="px-3 py-2">
                            <app-tag color="success">Active</app-tag>
                        </td>
                        <td class="px-3 py-2">Website</td>
                        <td class="px-3 py-2">Twitter</td>
                        <td class="px-3 py-2">Malcolm Lockyer</td>
                        <td class="px-3 py-2">malcolm@gmail.com</td>
                        <td class="px-3 py-2">9876543210</td>
                        <td class="px-3 py-2">clark one</td>
                        <td class="px-3 py-2">First assinger</td>
                        <td class="px-3 py-2">First sales person</td>
                    </tr>
                    <tr class="hover:bg-themeblue-200 leading-4">
                        <td class="px-3 py-2">
                            <input type="checkbox"
                                class="form-checkbox rounded h-3 w-3 sm:h-4 sm:w-4 login-checkbox">
                        </td>
                        <td class="px-3 py-2">
                            <app-tag color="danger">Close</app-tag>
                        </td>
                        <td class="px-3 py-2">Mobile App</td>
                        <td class="px-3 py-2">Youtube</td>
                        <td class="px-3 py-2">John doe</td>
                        <td class="px-3 py-2">johndoe@gmail.com</td>
                        <td class="px-3 py-2">9876543210</td>
                        <td class="px-3 py-2">clark second</td>
                        <td class="px-3 py-2">assinger two</td>
                        <td class="px-3 py-2">second sales person</td>
                    </tr>
                    <tr class="hover:bg-themeblue-200 leading-4">
                        <td class="px-3 py-2">
                            <input type="checkbox"
                                class="form-checkbox rounded h-3 w-3 sm:h-4 sm:w-4 login-checkbox">
                        </td>
                        <td class="px-3 py-2">
                            <app-tag color="success">Active</app-tag>
                        </td>
                        <td class="px-3 py-2">Web App</td>
                        <td class="px-3 py-2">Facebook</td>
                        <td class="px-3 py-2">Baburav</td>
                        <td class="px-3 py-2">baburavjindahai@gmail.com</td>
                        <td class="px-3 py-2">9876543210</td>
                        <td class="px-3 py-2">Raju</td>
                        <td class="px-3 py-2">Ghanshyam</td>
                        <td class="px-3 py-2">Baburav</td>
                    </tr>
                </tbody>
            </table>

</main>