<main class="p-6">

    <!-- Page Title Start -->
    <!-- <div class="flex justify-between items-center mb-6">
        <h4 class="text-slate-900 text-lg font-medium">Leads</h4>

        <div class="md:flex hidden items-center gap-3 text-sm font-semibold">
            <a href="#" class="text-sm font-medium text-slate-700">Lunoz</a>
            <i class="fa-solid fa-chevron-right"></i>
            <a href="#" class="text-sm font-medium text-slate-700">Menu</a>
            <i class="fa-solid fa-chevron-right"></i>
            <a href="#" class="text-sm font-medium text-slate-700" aria-current="page">Leads</a>
        </div>
    </div> -->
    <!-- Page Title End -->

    <div class="grid gap-6 mb-6">
        <div class="overflow-auto rounded-lg shadow">
            <table class="w-full text-xs text-left text-black">
                <thead class="uppercase bg-themeblue-100 text-gray-500">
                    <tr>
                        <th class="px-6 py-3">
                            <input type="checkbox"
                                class="rounded mr-2 focus:ring-offset-0 focus:ring-primary-200 focus:outline-none">
                        </th>
                        <th class="px-6 py-3">status</th>
                        <th class="px-6 py-3">Lead Name</th>
                        <th class="px-6 py-3">Lead Source</th>
                        <th class="px-6 py-3">Lead Owner</th>
                        <th class="px-6 py-3">Email</th>
                        <th class="px-6 py-3">Phone</th>
                        <th class="px-6 py-3">DataEntry Clerk</th>
                        <th class="px-6 py-3">Assigner</th>
                        <th class="px-6 py-3">Sells Person</th>
                    </tr>
                </thead>
                <tbody class="divide-y divide-themeblue-100">
                    <tr>
                        <td class="px-6 py-3">
                            <input type="checkbox"
                                class="rounded mr-2 focus:ring-offset-0 focus:ring-primary-200 focus:outline-none">
                        </td>
                        <td class="px-6 py-3">
                            <app-tag color="success">Active</app-tag>
                        </td>
                        <td class="px-6 py-3">Website</td>
                        <td class="px-6 py-3">Twitter</td>
                        <td class="px-6 py-3">Malcolm Lockyer</td>
                        <td class="px-6 py-3">malcolm@gmail.com</td>
                        <td class="px-6 py-3">9876543210</td>
                        <td class="px-6 py-3">DEC-1</td>
                        <td class="px-6 py-3">A-1</td>
                        <td class="px-6 py-3">SP-1</td>
                    </tr>
                    <tr>
                        <td class="px-6 py-3">
                            <input type="checkbox"
                                class="rounded mr-2 focus:ring-offset-0 focus:ring-primary-200 focus:outline-none">
                        </td>
                        <td class="px-6 py-3">
                            <app-tag color="danger">Close</app-tag>
                        </td>
                        <td class="px-6 py-3">Website</td>
                        <td class="px-6 py-3">Twitter</td>
                        <td class="px-6 py-3">Malcolm Lockyer</td>
                        <td class="px-6 py-3">malcolm@gmail.com</td>
                        <td class="px-6 py-3">9876543210</td>
                        <td class="px-6 py-3">DEC-1</td>
                        <td class="px-6 py-3">A-1</td>
                        <td class="px-6 py-3">SP-1</td>
                    </tr>
                    <tr>
                        <td class="px-6 py-3">
                            <input type="checkbox"
                                class="rounded mr-2 focus:ring-offset-0 focus:ring-primary-200 focus:outline-none">
                        </td>
                        <td class="px-6 py-3">
                            <app-tag color="success">Active</app-tag>
                        </td>
                        <td class="px-6 py-3">Website</td>
                        <td class="px-6 py-3">Twitter</td>
                        <td class="px-6 py-3">Malcolm Lockyer</td>
                        <td class="px-6 py-3">malcolm@gmail.com</td>
                        <td class="px-6 py-3">9876543210</td>
                        <td class="px-6 py-3">DEC-1</td>
                        <td class="px-6 py-3">A-1</td>
                        <td class="px-6 py-3">SP-1</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

    <!-- <div class="container mx-auto px-4 py-2">
        <div class="overflow-x-auto overflow-y-auto h-screen">
            <table class="w-full text-sm text-left text-gray-500 dark:text-gray-400">
                <thead
                    class="text-xs text-white uppercase bg-themeblue-100 dark:bg-gray-700 dark:text-gray-400 sticky top border-radius-4">
                    <tr>
                        <th scope="col" class="px-6 py-3">
                            <input type="checkbox"
                                class="mr-2 focus:ring-offset-0 focus:ring-primary-500 focus:outline-none">
                        </th>
                        <th scope="col" class="px-6 py-3">
                            Status
                        </th>
                        <th scope="col" class="px-6 py-3">
                            Lead Name
                        </th>
                        <th scope="col" class="px-6 py-3">
                            Email
                        </th>
                        <th scope="col" class="px-6 py-3">
                            Phone
                        </th>
                        <th scope="col" class="px-6 py-3">
                            Lead Source
                        </th>
                        <th scope="col" class="px-6 py-3">
                            Lead Owner
                        </th>
                        <th scope="col" class="px-6 py-3">
                            DataEntry Clerk
                        </th>
                        <th scope="col" class="px-6 py-3">
                            Assigner
                        </th>
                        <th scope="col" class="px-6 py-3">
                            Sells person
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr class="dark:border-gray-700 hover:bg-gray-100 dark:hover:bg-gray-600">
                        <td class="px-6 py-4">
                            <input type="checkbox"
                                class="mr-2 focus:ring-offset-0 focus:ring-primary-500 focus:outline-none">
                        </td>
                        <td class="px-6 py-4">
                            <span
                                class="px-2 inline-block rounded-full bg-green-100 text-green-600 text-xs font-semibold">Active</span>
                        </td>
                        <td class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap">
                            John Doe
                        </td>
                        <td class="px-6 py-4">
                            Doe Enterprises
                        </td>
                        <td class="px-6 py-4">
                            john.doe@example.com
                        </td>
                        <td class="px-6 py-4">
                            +1234567890
                        </td>
                        <td class="px-6 py-4">
                            Web Form
                        </td>
                        <td class="px-6 py-4">
                            USA
                        </td>
                        <td class="px-6 py-4">
                            Additional notes...
                        </td>
                        <td class="px-6 py-4">
                            2024-04-12
                        </td>
                        <td class="px-6 py-4">
                            2024-04-10
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div> -->
</main>